<a href="https://colab.research.google.com/github/salonichoubey/Nba_Score/blob/main/Traning_score_NBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("nba_2013.csv");
data

             player pos  age bref_team_id  ...   pf   pts     season  season_end
0        Quincy Acy  SF   23          TOT  ...  122   171  2013-2014        2013
1      Steven Adams   C   20          OKC  ...  203   265  2013-2014        2013
2       Jeff Adrien  PF   27          TOT  ...  108   362  2013-2014        2013
3     Arron Afflalo  SG   28          ORL  ...  136  1330  2013-2014        2013
4     Alexis Ajinca   C   25          NOP  ...  187   328  2013-2014        2013
..              ...  ..  ...          ...  ...  ...   ...        ...         ...
476     Tony Wroten  SG   20          PHI  ...  151   939  2013-2014        2013
477      Nick Young  SG   28          LAL  ...  156  1144  2013-2014        2013
478  Thaddeus Young  PF   25          PHI  ...  213  1417  2013-2014        2013
479     Cody Zeller   C   21          CHA  ...  170   490  2013-2014        2013
480    Tyler Zeller   C   24          CLE  ...  137   399  2013-2014        2013

[481 rows x 31 columns]

In [3]:
data.columns

Index(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
       'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'pts', 'season', 'season_end'],
      dtype='object')

In [4]:
data.describe()

              age           g          gs  ...          pf          pts  season_end
count  481.000000  481.000000  481.000000  ...  481.000000   481.000000       481.0
mean    26.509356   53.253638   25.571726  ...  105.869023   516.582121      2013.0
std      4.198265   25.322711   29.658465  ...   71.213627   470.422228         0.0
min     19.000000    1.000000    0.000000  ...    0.000000     0.000000      2013.0
25%     23.000000   32.000000    0.000000  ...   44.000000   115.000000      2013.0
50%     26.000000   61.000000   10.000000  ...  104.000000   401.000000      2013.0
75%     29.000000   76.000000   54.000000  ...  158.000000   821.000000      2013.0
max     39.000000   83.000000   82.000000  ...  273.000000  2593.000000      2013.0

[8 rows x 27 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player        481 non-null    object
 1   pos           481 non-null    object
 2   age           481 non-null    int64
 3   bref_team_id  481 non-null    object
 4   g             481 non-null    int64
 5   gs            481 non-null    int64
 6   mp            481 non-null    int64
 7   fg            481 non-null    int64
 8   fga           481 non-null    int64
 9   fg.           479 non-null    float64
 10  x3p           481 non-null    int64
 11  x3pa          481 non-null    int64
 12  x3p.          414 non-null    float64
 13  x2p           481 non-null    int64
 14  x2pa          481 non-null    int64
 15  x2p.          478 non-null    float64
 16  efg.          479 non-null    float64
 17  ft            481 non-null    int64
 18  fta           481 non-null    int64
 19  ft.           461 non-null    float64
 20  orb           481 non-null    int64
 21  drb           481 non-null    int64
 22  trb           481 non-null    int64
 23  ast           481 non-null    int64
 24  stl           481 non-null    int64
 25  blk           481 non-null    int64
 26  tov           481 non-null    int64
 27  pf            481 non-null    int64
 28  pts           481 non-null    int64
 29  season        481 non-null    object
 30  season_end    481 non-null    int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [6]:
data.shape

(481, 31)

**Pre_Processing**

In [7]:
data.isnull().any() #i didn't used sum here, cause count of missing data is of no use

player          False
pos             False
age             False
bref_team_id    False
g               False
gs              False
mp              False
fg              False
fga             False
fg.              True
x3p             False
x3pa            False
x3p.             True
x2p             False
x2pa            False
x2p.             True
efg.             True
ft              False
fta             False
ft.              True
orb             False
drb             False
trb             False
ast             False
stl             False
blk             False
tov             False
pf              False
pts             False
season          False
season_end      False
dtype: bool

In [8]:
#filling missing values with the mean
data["fg."].fillna(data["fg."].mean(),inplace=True)
data["x2p."].fillna(data["x2p."].mean(),inplace=True)
data["efg."].fillna(data["efg."].mean(),inplace=True)
data["x3p."].fillna(data["x3p."].mean(),inplace=True)
data["ft."].fillna(data["ft."].mean(),inplace=True)

In [9]:
data.isnull().sum()

player          0
pos             0
age             0
bref_team_id    0
g               0
gs              0
mp              0
fg              0
fga             0
fg.             0
x3p             0
x3pa            0
x3p.            0
x2p             0
x2pa            0
x2p.            0
efg.            0
ft              0
fta             0
ft.             0
orb             0
drb             0
trb             0
ast             0
stl             0
blk             0
tov             0
pf              0
pts             0
season          0
season_end      0
dtype: int64

In [10]:
data.corr()

                 age         g        gs  ...        pf       pts  season_end
age         1.000000 -0.012074  0.025163  ... -0.028221 -0.011910         NaN
g          -0.012074  1.000000  0.610951  ...  0.865797  0.728462         NaN
gs          0.025163  0.610951  1.000000  ...  0.725573  0.810294         NaN
mp          0.007961  0.864487  0.860036  ...  0.884484  0.927464         NaN
fg         -0.009749  0.739993  0.821619  ...  0.798769  0.992041         NaN
fga        -0.018304  0.746963  0.811531  ...  0.786560  0.989211         NaN
fg.         0.025202  0.319534  0.234312  ...  0.357477  0.247649         NaN
x3p         0.050611  0.518074  0.501808  ...  0.446711  0.655342         NaN
x3pa        0.028850  0.537011  0.515718  ...  0.463455  0.672076         NaN
x3p.        0.013502  0.090602  0.060238  ... -0.017451  0.135875         NaN
x2p        -0.028862  0.684729  0.785619  ...  0.777982  0.931493         NaN
x2pa       -0.035970  0.694243  0.784812  ...  0.777085  0.937036         NaN
x2p.        0.011269  0.279659  0.204808  ...  0.295217  0.218527         NaN
efg.        0.072948  0.348972  0.230862  ...  0.328016  0.268273         NaN
ft         -0.046554  0.598333  0.707049  ...  0.663557  0.927618         NaN
fta        -0.061751  0.615001  0.720527  ...  0.698489  0.918979         NaN
ft.         0.021028  0.230984  0.175760  ...  0.175538  0.295609         NaN
orb        -0.068726  0.546902  0.560067  ...  0.713271  0.505524         NaN
drb         0.010822  0.707389  0.774892  ...  0.821327  0.784675         NaN
trb        -0.013451  0.682688  0.735738  ...  0.816910  0.725930         NaN
ast         0.019216  0.551128  0.636059  ...  0.538109  0.738295         NaN
stl        -0.028315  0.709650  0.743178  ...  0.737628  0.797449         NaN
blk        -0.017398  0.475581  0.505589  ...  0.633609  0.433549         NaN
tov        -0.030789  0.713508  0.767107  ...  0.775430  0.912724         NaN
pf         -0.028221  0.865797  0.725573  ...  1.000000  0.778060         NaN
pts        -0.011910  0.728462  0.810294  ...  0.778060  1.000000         NaN
season_end       NaN       NaN       NaN  ...       NaN       NaN         NaN

[27 rows x 27 columns]

In [11]:
list_1 = list(data.columns)

In [12]:
list_cate = []
for i in list_1:
  if data[i].dtype == 'object':
    list_cate.append(i)

In [13]:
le=LabelEncoder()

In [14]:
for i in list_cate:
  data[i]=le.fit_transform(data[i])

In [15]:
data

     player  pos  age  bref_team_id   g  ...  tov   pf   pts  season  season_end
0       370    5   23            28  63  ...   30  122   171       0        2013
1       431    0   20            20  81  ...   71  203   265       0        2013
2       212    3   27            28  53  ...   39  108   362       0        2013
3        39    6   28            21  73  ...  146  136  1330       0        2013
4        12    0   25            18  56  ...   63  187   328       0        2013
..      ...  ...  ...           ...  ..  ...  ...  ...   ...     ...         ...
476     449    6   20            22  72  ...  204  151   939       0        2013
477     345    6   28            13  64  ...   95  156  1144       0        2013
478     437    3   25            22  79  ...  165  213  1417       0        2013
479      87    0   21             3  82  ...   87  170   490       0        2013
480     460    0   24             5  70  ...   60  137   399       0        2013

[481 rows x 31 columns]

***SPLIT***

In [16]:
y=data['pos']
x=data.drop('pos',axis=1)

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.2)

In [17]:
print((x_train))

     player  age  bref_team_id   g  gs  ...  tov   pf   pts  season  season_end
264      91   28            28  79  47  ...   73  127   761       0        2013
235      80   23             1  40   0  ...   22   63   250       0        2013
200     231   23            16  70  23  ...  114  185   779       0        2013
213     388   24            17  53   5  ...   10   57   181       0        2013
278     276   27            27  79  79  ...  194  267  1417       0        2013
..      ...  ...           ...  ..  ..  ...  ...  ...   ...     ...         ...
323     329   22             0  20   0  ...   12   29    76       0        2013
192     326   30            29  20   0  ...   11   36    84       0        2013
117     161   28            28  68  44  ...   76  159   641       0        2013
47       74   37             8  19   7  ...   25   25    72       0        2013
172      98   30            28  41   2  ...   46   62   338       0        2013

[384 rows x 30 columns]

In [18]:
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

384
97
384
97

*   n_neighbour = 19, accuracy =52.617801047120416
*   n_neighbour = 9, accuracy =60.20942408376963

In [19]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=9)

knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=9)

In [20]:
y_pred=knn.predict(x_test)
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
print("Classification Report is:\n",classification_report(y_test,y_pred))
print("Confusion Matrix:\n",confusion_matrix(y_test,y_pred))
print("Training Score:\n",knn.score(x_train,y_train)*100)

Classification Report is:
               precision    recall  f1-score   support

           0       0.58      0.65      0.61        17
           3       0.55      0.46      0.50        24
           4       0.57      0.53      0.55        15
           5       0.28      0.26      0.27        19
           6       0.42      0.50      0.46        22

    accuracy                           0.47        97
   macro avg       0.48      0.48      0.48        97
weighted avg       0.48      0.47      0.47        97

Confusion Matrix:
 [[11  5  0  0  1]
 [ 4 11  1  5  3]
 [ 1  1  8  1  4]
 [ 1  3  3  5  7]
 [ 2  0  2  7 11]]
Training Score:
 60.15625

In [21]:
knn.score(x_train, y_train)

0.6015625

In [22]:
print((x_train))

     player  age  bref_team_id   g  gs  ...  tov   pf   pts  season  season_end
264      91   28            28  79  47  ...   73  127   761       0        2013
235      80   23             1  40   0  ...   22   63   250       0        2013
200     231   23            16  70  23  ...  114  185   779       0        2013
213     388   24            17  53   5  ...   10   57   181       0        2013
278     276   27            27  79  79  ...  194  267  1417       0        2013
..      ...  ...           ...  ..  ..  ...  ...  ...   ...     ...         ...
323     329   22             0  20   0  ...   12   29    76       0        2013
192     326   30            29  20   0  ...   11   36    84       0        2013
117     161   28            28  68  44  ...   76  159   641       0        2013
47       74   37             8  19   7  ...   25   25    72       0        2013
172      98   30            28  41   2  ...   46   62   338       0        2013

[384 rows x 30 columns]

*Individual Score*

In [23]:
distance_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']
data_numeric = data[distance_columns]

In [24]:
data_normalized = data_numeric.apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [25]:
data_category = data[['player', 'bref_team_id', 'season']]

In [26]:
data = pd.concat([data_category, data_normalized], axis=1)

from sklearn.model_selection import train_test_split

# The columns that we will be making predictions with.
x_columns = data[['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']]

# The column that we want to predict.
y_column = data["pts"]

x_train, x_test, y_train, y_test = train_test_split(x_columns, y_column, test_size=0.3, random_state=0)

In [27]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics

# check for increasing neighbour values to see which has the highest regression score

for k in range(10):
    k_value = k + 1
    knn = KNeighborsRegressor(n_neighbors = k_value)
    knn.fit(x_train, y_train) 
    y_pred = knn.predict(x_test)
    print ("Regression score is:",format(metrics.r2_score(y_test, y_pred),'.4f'), "for k_value:", k_value)

Regression score is: 0.9145 for k_value: 1
Regression score is: 0.9464 for k_value: 2
Regression score is: 0.9548 for k_value: 3
Regression score is: 0.9594 for k_value: 4
Regression score is: 0.9583 for k_value: 5
Regression score is: 0.9579 for k_value: 6
Regression score is: 0.9579 for k_value: 7
Regression score is: 0.9609 for k_value: 8
Regression score is: 0.9576 for k_value: 9
Regression score is: 0.9557 for k_value: 10

In [28]:
knn = KNeighborsRegressor(n_neighbors = 8)
knn.fit(x_train, y_train) 
y_pred = knn.predict(x_test)
print ("Mean Squared Error is:", format(metrics.mean_squared_error(y_test, y_pred), '.7f'))
print ("Regression score is:", format(metrics.r2_score(y_test, y_pred),'.4f'))

Mean Squared Error is: 0.0011143
Regression score is: 0.9609

In [29]:
Test_With_Predicted = pd.DataFrame({'Actual Points': y_test.tolist(), 'Predicted Points': y_pred.tolist()})

Test_With_Predicted

     Actual Points  Predicted Points
0         0.168145          0.125723
1         0.276514          0.297243
2         0.422676          0.363189
3         0.007327          0.011088
4         0.381026          0.373939
..             ...               ...
140       0.426919          0.421664
141       0.013498          0.019379
142       0.312379          0.303943
143       0.306980          0.273766
144       0.036251          0.029985

[145 rows x 2 columns]